# =========================
# LIXO DO PYTHON
# =========================
# Arquivos compilados e de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
env/
.env

# Jupyter Notebooks (se for usar para plotar os gráficos de RL)
.ipynb_checkpoints/

# =========================
# LIXO DO C++
# =========================
# Arquivos de objeto e binários
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# Ignorar executáveis principais no Linux
main
a.out

# Pastas de build geradas pelo CMake ou Make
build/
bin/

# =========================
# EDITORES E SISTEMA OPERACIONAL
# =========================
# VS Code
.vscode/

# IntelliJ / PyCharm / CLion
.idea/

# macOS (se alguém com Mac for baixar o projeto)
.DS_Store
